<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主页</title>
</head>
<body>
    <h1>这是主页的页面</h1>
    <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">  
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="javascripts/echarts.min.js"></script>
    <!-- 引入jQuery.js -->
    <script src="javascripts/jquery-1.11.3.js"></script>
    <!-- 引入封装好的报表生成sale.js -->
    <script src="javascripts/sale.js"></script>
</head>
<body>
    <!-- <a href="javascript:sales;">生成报表</a> -->
    <button onclick="sale('week','main')">生成周销售额报表</button>
    <button onclick="sale('month','main')">生成月销售额报表</button>
    <button onclick="sale('year','main')">生成年销售额报表</button>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;">
        <h1>财务报表图</h1>
    </div>
</body>
</html>
</body>
</html>