<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户注册</title>
	<script>
		var unameStatus,emailStatus,upwdStatus,phoneStatus;
		//用户注册信息提交
		function register(){
			//获取用户输入的信息
			var $uname=uname.value;
			var $upwd=upwd.value;
			/*var $upwd_agin=upwd_agin.value;
			var $email=email.value;
			var $uphone=uphone.value;
			var $user_name=user_name.value;
			var $gender;
			if(male.checked==true){
				$gender=1;
			}
			if(female.checked==true){
				$gender=0;
			}
			if(none.checked==true){
				$gender=-1;
			}
			//判断两次输入的密码是否一致
			if($upwd!==$upwd_agin){
				return;
			}
			//非空验证
			if(!$uname){
				alert("用户名不能为空");
				return;
			}
			if(!$upwd){
				alert("密码不能为空");
				return;
			}
			if(!$email){
				alert("用户邮箱不能为空");
				return;
			}
			if(!$uphone){
				alert("电话号码不能为空");
				return;
			}
			//验证bool是否true
			/*if (!((unameStatus&&emailStatus)&&(upwdStatus&&phoneStatus)))
			{
				alert("请重新填写用户信息");
				return;
			}*/
			//异步请求
			var xhr=new XMLHttpRequest();
			xhr.onreadystatechange=function(){
				if(xhr.readyState==4&&xhr.status==200){
					var result=xhr.responseText;
					console.log(result);
					/*
					if(result=="1"){
						alert("注册成功");
					}else if(result=="0"){
						alert("注册失败");
					}*/
				}
			}
			xhr.open("post","/users/v1/register",true);
			var formdata="uname="+$uname+"&upwd="+$upwd;
			//console.log(formdata);
			xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
			xhr.send(formdata);
		}
		/*
		//判断用户名是否可用
		function verify_uname(){
			//获取输入信息
			var $uname=uname.value;
			//创建异步对象
			var xhr=new XMLHttpRequest();
			//绑定监听，接收响应
			xhr.onreadystatechange=function(){
				if(xhr.readyState==4&&xhr.status==200){
					var result=xhr.responseText;
					if(result=="1"){
						s1.innerHTML="当前用户名可用";
						unameStatus=true;
					}else if(result=="0"){
						s1.innerHTML="当前用户名已经被注册！";
						unameStatus=false;
					}else{
						s1.innerHTML="无法获取数据";
						unameStatus=false;
					}
				};
			}
			//打开链接，创建请求
			xhr.open("get","/pro/v1/verifyuname/"+$uname,true);
			//发送请求
			xhr.send();
		}
		//判断两次输入的密码是否一致
		function verfy_upwd(){
			var $upwd=upwd.value;
			var $upwd_agin=upwd_agin.value;
			if($upwd===$upwd_agin){
				s2.innerHTML="输入正确，两次密码一致";
				upwdStatus=true;
			}
			if($upwd!==$upwd_agin){
				s2.innerHTML="输入错误，两次密码不同";
				upwdStatus=false;
			}
		}
		//判断电子邮箱是否可用
		function verify_email(){
			//获取输入信息
			var $email=email.value;
			//创建异步对象
			var xhr=new XMLHttpRequest();
			//绑定监听，接收响应
			xhr.onreadystatechange=function(){
				if(xhr.readyState==4&&xhr.status==200){
					var result=xhr.responseText;
					if(result=="1"){
						s3.innerHTML="当前邮箱可用";
						emailStatus=true;
					}else if(result=="0"){
						s3.innerHTML="当前邮箱已经被注册！";
						emailStatus=false;
					}else{
						s3.innerHTML="无法获取邮箱数据";
						emailStatus=false;
					}
				};
			}
			//打开链接，创建请求
			xhr.open("get","/pro/v1/verifyemail/"+$email,true);
			//发送请求
			xhr.send();
		}
		//判断手机号是否可用
		function verify_phone(){
			//获取输入信息
			var $phone=phone.value;
			//创建异步对象
			var xhr=new XMLHttpRequest();
			//绑定监听，接收响应
			xhr.onreadystatechange=function(){
				if(xhr.readyState==4&&xhr.status==200){
					var result=xhr.responseText;
					if(result=="1"){
						s4.innerHTML="当前手机号可用";
						phoneStatus=true;
					}else if(result=="0"){
						s4.innerHTML="当前手机号已经被注册！";
						phoneStatus=true;
					}else{
						s4.innerHTML="无法获取手机号数据";
						phoneStatus=true;
					}
				};
			}
			//打开链接，创建请求
			xhr.open("get","/pro/v1/verifyphone/"+$phone,true);
			//发送请求
			xhr.send();
		}*/
	</script>
</head>
<body>
	用户名称：<input type="text" id="uname" placeholder="请输入您的用户名" onblur="verify_uname()" ><span id="s1"></span><br>
	用户密码：<input type="text" id="upwd" placeholder="请输入您的密码"><br>
	<!-- 密码确认：<input type="text" id="upwd_agin" placeholder="再次输入密码" onblur="verfy_upwd()"><span id="s2"></span><br>
	电子邮箱：<input type="text" id="email" placeholder="请输入您的电子邮箱" onblur="verify_email()"><span id="s3"></span><br>
	电话号码：<input type="text" id="uphone" placeholder="请输入您的电话号码" onblur="verify_phone()"><span id="s4"></span><br>
	真实姓名：<input type="text" id="user_name" placeholder="请输入您的真实姓名"><br>
	用户性别：
	<input type="radio" name="gender" id="male"><label for="male">男</label>
	<input type="radio" name="gender" id="female"><label for="female">女</label>
	<input type="radio" name="gender" id="none" checked><label for="none" >保密</label><br> -->
	<button onclick="register()">注册</button>
</body>
</html>


